* {
    margin: 0;/*внеш отступы*/
    padding: 0;/*внутр отсупы*/
}
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}
h1, h2 {
    font-weight: bold;/*полужирные*/
}

/* Шапка */
.header {
    background-color: #333;
    color: white;
    padding: 15px 20px;
    display: flex;/*выравнивание*/
    justify-content: space-between;/*распределение по горизонтали*/
    align-items: center;/*выр по вертикали*/
}
.logo{
	width: 50px;
	height: 50px;
	background-image: url("images/icon.jpg");
	background-size: contain;
	display: flex;
	border-radius: 50px;
}
.nav {
    display: flex;
	align-items: center;
    gap: 20px;/*раст между*/
}
.nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}
.footer{
	background-color: #333;
    color: white;
    padding: 15px 20px;
    justify-content: space-between;/*распределение по горизонтали*/
    align-items: center;/*выр по вертикали*/
}
.contacts-title{
	line-height: 50px;
}
.footer-nav a{
	color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
	line-height: 24px;
}
.user-icon {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;/*отсупы+вырванивание по центру*/
    background-color: white;
    padding: 20px;
}

.top-section {
    display: flex;
    justify-content: space-between;/*по всей длине*/
    align-items: center;
}
.main-image {
    width: 50%;
    height: 50%;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #666;
    border-radius: 5px;
}
.info {
	width: 50%;
	text-align: center;
	
}
.title{
	front-size: 32px;
	font-weight: bold;
}
/*hits*/
.hits-section {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
}

.hits-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.hits-gallery {
    display: flex;
    gap: 10px; /* расстояние м карт*/
}

.product {
    width: 25%; 
    text-align: center;
}

.product img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; /*обрезка изб по размеру*/
    border-radius: 5px; 
}

.price {
    display: block;
    margin-top: 5px;
    font-size: 16px;
    font-weight: bold;
}

@media (max-width: 920px){
	.hits-gallery{
		flex-direction: column;
	}
	.product img {
    width: 300%;
    height: 300%;
    object-fit: cover;
    border-radius: 5px;
}
}
@media (min-width: 768px){
	
}
@media (max-width: 471px){
	.header{
		padding: 10px 5px;
	}
}
@media(max-width: 450px){
	.nav {
		display: flex;
		align-items: center;
		gap: 20px;
		flex-direction: column;
}
	.header {
    background-color: #333;
    color: white;
    padding: 15px 20px;
    display: flex;
	flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.top-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}
}

